export("SINCE")

# Import all packages listed as Imports or Depends
import(
  doSNOW,
  e1071,
  ClusterR,
  RColorBrewer
)

  importFrom("graphics", "legend", "lines", "plot")
  importFrom("stats", "kmeans", "pbeta", "phyper", "sd")
  importFrom("utils", "combn", "read.table")